body{
    background-color: chocolate;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}
.frog-color{
    background-color: chartreuse;
}
.jumping{
    background-color: skyblue;
    grid-row: 2;
    grid-column:2;
}
.eating{
    background-color: tomato;
    grid-row:1;
    grid-column:1/-1;

}
.jumping div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}