button {
    background-color: #4682d5;
    color: white;
    border: 2px double white;
    outline: 1px solid #a2a6a7;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    padding: 10px 26px;
    font-weight: bold;
  }
  
h2{
    color: #4a4a4b;
    font-family: sans-serif;
    text-align: center;
}

p{
    color: #a39788;
    font-family: sans-serif;
    text-align: center;

}
body{
    text-align:center;
}
img{
    margin: 0 auto;
}

