:root {
    /* https://coolors.co/091540-a2faa3-ff5e5b-524632-8f7e4f */
    /* change the values below to your colors from your palette */
    --primary-color: #091540   ;
    --secondary-color: #A2FAA3 ;
    --accent1-color: #FF5E5B;
    --accent2-color: #524632;
    --accent3-color: #8F7E4F;
}
