:root {
    /* https://coolors.co/091540-a2faa3-ff5e5b-524632-8f7e4f */
    /* change the values below to your colors from your palette */
    --primary-color: #091540   ;
    --secondary-color: #A2FAA3 ;
    --accent1-color: #FF5E5B;
    --accent2-color: #524632;
    --accent3-color: #8F7E4F;
}

body{
    background-color: lightgrey;
}
header{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
    opacity: .85;
}
#logo-link{
    padding-top: 5px;
    margin: auto;
    font-size: 60px;
    text-decoration: none;
    color: var(--accent1-color)
}
nav {
    display: flex;
    justify-content: space-around;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
}
nav a{
    text-align: center;
    color: var(--accent1-color);
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: var(--secondary-color);
    color: black;
}
#content{
    margin-left: 55px;
}
.message-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    margin: auto;
}

.message-right img, .message-left img{
    width: 100%;
    margin-top: 50px;
    border: 10px solid var(--accent3-color)
}
.message-left{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}

footer{
    background-color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: Flex;
    justify-content: space-around;
    align-items: center;
}
footer h3{
    color: var(--accent2-color);
}
footer a{
    color: var(--accent2-color);
    text-decoration: none;
}
footer a:hover{
    color:var(--accent1-color);
}
footer h3:hover{
    text-decoration: underline;
}
